html {
    scroll-behavior: smooth;
}

footer {
    min-height: 70px;
    border-top: 1px dashed #f1f1f1;
}

.container-fluid {
    padding: 0!important;
    margin: 0!important;
}

#home, #services {
    min-height: 800px;
}

#home div {
    min-height: 800px;
}

#home img, #services img {
    width: 150px;
}

#about {
    min-height: 500px;
}